extends includes/layout.pug

block content
	.broset.col-sm-10.col-sm-offset-1
		h1 Broset
		h2 Patient
		.row
			.col-sm-1.col-sm-offset-1
				p #{patient.room}
			.col-sm-3
				p #{patient.lastName}, #{patient.firstName}
			.col-sm-3
				p #{patient.physician}
			.col-sm-3
				p #{patient.admissionDate}
		.broset--add
			h2 New Score
			form(method='POST')
				.form-group
					.row
						.col-sm-4
							label(for='score') Score
						.col-sm-8
							select.form-control.broset--input#score(name='score' required)
								option(disabled selected) Select Score 1 to 6
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4') 4
								option(value='5') 5
								option(value='6') 6
				.form-group
					.row
						.col-sm-4
							label(for='intervention') Intervention
						.col-sm-8
							select.form-control.broset--input#intervention(name='intervention' required)
								option(disabled selected) Select Intervention
								each val in interventions 
									option(value=val.name) #{val.name}
				.form-group
					.row
						.col-sm-4
							label(for='comment') Comment
						.col-sm-8
							input.broset--input#comment(type='text', name='comment', placeholder='i.e. ativan 1mg po')
				button.btn.btn-primary(type='submit') Add Score
		.broset--history
			h2 Patient Broset History
			each score in scores
				.row
					.col-sm-1.col-sm-offset-1
						p #{score.score}
					.col-sm-2
						p #{score.intervention}
					.col-sm-3
						p #{score.comment}
					.col-sm-2
						p #{score.dateString}
					.col-sm-2
						p #{score.employee}

